extends layout

block content
  h1= title
  p API '/api/getuser' method: GET Response: Json
  p API '/api/login' method: POST Response: Json
  p API '/api/work' method: GET Response: Json
  p API '/api/work/:id' method: DELETE Response: Json
